html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial;
  background-color: whitesmoke;
}

fieldset,
legend {
  border: 0;
  padding: 0;
  margin: 0;
}

button,
input[type="radio"] {
  cursor: pointer;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 25em) {
  .container {
    max-width: 400px;
  }
}

.result {
  text-align: center;
  margin-top: 10px;
  color: green;
  line-height: 1.37rem;
}

.field {
  margin-bottom: 20px;
}

.field:last-child {
  margin-bottom: 0;
}

.field__label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.12rem;
  font-weight: bold;
}

.field__label--sub {
  font-size: 1rem;
  font-weight: normal;
}

.field__box {
  font-family: Arial;
  font-size: 1rem;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  height: 40px;
}

.button {
  font-family: Arial;
  font-size: 1rem;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  background-color: #175ea9;
  color: #FFF;
}

.button:disabled {
  opacity: 0.5;
}

.legend {
  margin-top: 10px;
  color: #6b6b6b;
  font-size: 0.9rem;
}

.subfields {
  display: flex;
  justify-content: space-between;
}

.subfields__field {
  flex-basis: 48%;
  margin-bottom: 0;
}

.toggle {
  position: relative;
  border: 1px solid;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.toggle:before {
  position: absolute;
  content: '';
  top: 0;
  left: 50px;
  width: 50px;
  height: 50px;
  background-color: red;
  transition: left 250ms;
}

.toggle.on:before {
  left: 0;
  background-color: green;
}
